/* 引入字體 */

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================== CSS 重置 ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== 設計系統 - CSS 變數 ==================== */
/* 顏色 */
:root {
  /* 顏色 - 品牌色 */
  --primary-50: #e3f4f8;
  --primary-100: #b7e3f1;
  --primary-200: #8dd1e7;
  --primary-300: #6abfdd;
  --primary-400: #3faad5;
  --primary-500: #189ec7;
  --primary-600: #258fc1;
  --primary-700: #1d7daf;
  --primary-800: #1b6d9b;

  /* 次要色 */
  --secondary-50: #f2f3e8;
  --secondary-100: #fcf2b1;
  --secondary-200: #f8e885;
  --secondary-300: #f4e054;

  /* 重點色 - 粉紅/紅色 */
  --highlight-100: #fec5bb;
  --highlight-200: #fd9f90;
  --highlight-300: #fc7b69;
  --highlight-400: #e54c4c;
  --highlight-500: #bf0e46;

  /* 中性色 */
  --black: #000000;
  --white: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f3f4f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #646a71;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* 間距系統 */
}

/* 標籤的基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--gray-100);
}

/* 通用樣式 */
.container {
  width: 1296px;
  margin: 0 auto; /* 置中 */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 2);
}
.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 3);
}
.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 7);
}
.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 8);
}
.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 9);
}
.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
}
.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 11);
}
.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

.h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
}

.paragraph-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.paragraph-body-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.paragraph-body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
}
.paragraph-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0px;
}

/* 文字顏色通用樣式 */

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-primary-300 {
  color: var(--primary-300);
}
.text-primary-400 {
  color: var(--primary-400);
}

/* 背景顏色通用樣式 */
.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

/* 間距 */
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pt-120 {
  padding-top: 120px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-160 {
  padding-bottom: 160px;
}
.mt-12 {
  margin-top: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.pl-36 {
  padding-left: 36px;
}
.pr-64 {
  padding-right: 64px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.me-8 {
  margin-left: 8px;
}
.me-12 {
  margin-left: 12px;
}
.mr-12 {
  margin-right: 12px;
}
/* page 頁面的樣式設定 */

.filter-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pe-8 {
  padding-right: 8px;
}
.pe-12 {
  padding-right: 12px;
}

.lucide {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 12px;
}
.banner {
  position: relative;
  height: 808px;
  overflow: hidden;
}

.banner-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  opacity: 0.5;
  transform: scale(1.05);
}

.banner_product_ad {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1296px;
  height: 648px;
  z-index: 2;
}
.banner_product_ad img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 保持比例 */
  border-radius: 40px; /* 你設計稿的圓角 */
  display: block;
  z-index: 2;
  position: relative;
}
/*
.banner_product_ad img.active {
  display: block;
}*/
.border-bottom {
  border-bottom: 1px solid var(--gray-400);
}
.category-list li {
  padding-left: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.category-list label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

/* Checkbox 與文字水平對齊 */
.category-list input[type="checkbox"] {
  margin: 0;
}

/* ========== 輪播 Indicators 樣式 ========== */
/* .carousel-indicators {
  bottom: 32px;
  margin-bottom: 0;
  z-index: 3;
}

.carousel-indicators button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 4px solid white;
  background-color: transparent;
  opacity: 0.6;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.carousel-indicators button.active {
  background-color: white;
  opacity: 1;
  transform: scale(1.2);
} */

/* 自訂 Indicators - 橫線+圓點 */
.custom-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 5;
}

.indicator-line {
  width: 48px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 0.5;
  z-index: 5; */
}

.indicator-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.5;
  border: none; */
  /* padding: 0; */
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.indicator-dot.active {
  /* opacity: 1; */
  background-color: white;
  /* transform: scale(1.5); */
}

/* Lucide 左右 箭頭自訂 */
.carousel-control-prev,
.carousel-control-next {
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* 點擊範圍 */
  height: 40px;
  background: rgba(255, 255, 255, 1); /* 白色背景 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border: 1px solid rgba(0, 0, 0, 0.1);

  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25); /* Figma 陰影設定 */
  transition: all 0.3s ease;
  padding: 0;
}
/* Hover 狀態 - 灰色圓形 */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(242, 242, 244, 1);

  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

/* 箭頭位置在主要圖左右外框 */
.carousel-control-prev {
  left: calc((100% - 1296px) / 2); /* 容器左邊緣*/
}
.carousel-control-next {
  right: calc((100% - 1296px) / 2); /* 容器右邊緣 */
}

/* 預設箭頭 - 灰色 */
.carousel-control-prev svg,
.carousel-control-next svg {
  color: var(--gray-600); /* 箭頭顏色 */
  width: 16px;
  height: 16px;
  stroke-width: 2.5;
  transition: stroke 0.3s ease;
  display: block;
}
/* Hover 箭頭 - 黑色 */
.carousel-control-prev:hover svg,
.carousel-control-next:hover svg {
  stroke: var(--black); /* 黑色 */
  stroke-width: 2.5;
}

/* ========== Checkbox 樣式 ========== */
/* 隱藏原生 checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-500);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
/* Hover 狀態 */
input[type="checkbox"]:hover {
  border-color: var(--gray-300);
  color: var(--gray-50);
}

.filter-option .h5 {
  margin: 0;
}

.filter-option .lucide {
  margin-right: 0;
  flex-shrink: 0;
}

.option-title h3 {
  margin: 0;
  line-height: 1.2;
}

/* 選中狀態 - 底色 */
input[type="checkbox"]:checked {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
}

/* 選中狀態 - 打勾符號 */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:indeterminate {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
}

input[type="checkbox"]:indeterminate::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 8px;
  width: 10px;
  height: 2px;
  background: white;
  border: none;
  transform: none;
}

/* 價格範圍區塊 */
.price-inputs {
  display: flex;
  width: 258px;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.price-input-wrapper {
  position: relative;
  flex: 1;
}

.price-input-wrapper input[type="number"] {
  width: 113px;
  height: 48px;
  padding: 12px 20px 12px 16px;
  border: 1px solid var(--gray-400);
  border-radius: 24px;
  font-size: 16px;

  /* 隱藏上下箭頭 - Firefox */
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 價格輸入框 - 隱藏上下箭頭 */
/* Chrome, Safari, Edge, Opera */
.price-input-wrapper input[type="number"]::-webkit-inner-spin-button,
.price-input-wrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input-wrapper input:focus {
  outline: none;
  border-color: var(--primary-500);
  box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.1);
}

.price-input-wrapper input[type="number"]::placeholder {
  color: var(--gray-600); /* 調整 placeholder 顏色 */
}

.price-input-wrapper input[type="number"] {
  color: var(--gray-800); /* 調整輸入文字顏色 */
}

.price-separator {
  color: var(--gray-600);
  font-weight: 500;
}

/* 清除全部按鈕 */
.btn-clear {
  width: 100%;
  height: 48px;
  padding: 10px;
  background: var(--primary-400);
  border: 1px solid var(--gray-400);
  border-radius: 24px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-clear:hover {
  background: var(--primary-600);
  border-color: var(--gray-600);
}

/* drop down */
.sort-section {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.sort-group {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap; /* 防止整個組合換行 */
}

.sort-label {
  font-size: 16px;
  color: var(--gray-800);
  font-weight: 500;
  margin: 0;
}

.dropdown {
  position: relative;
  min-width: 200px;
}

.dropdown-toggle {
  width: 100%;
  padding: 8px 16px;
  background: white;
  border: 1px solid var(--gray-400);
  border-radius: 24px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: var(--gray-800);
}

/* 瀏覽器預設會對 select / button 的 focus 加藍邊。 */
.dropdown-toggle:focus,
.dropdown-item:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle:hover {
  border-color: var(--primary-400);
}

.dropdown-toggle svg {
  width: 16px;
  height: 16px;
  stroke: var(--gray-600);
  flex-shrink: 0;
}

.dropdown-menu {
  width: 100%;
  border: 1px solid var(--gray-400);
  border-radius: 24px;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  padding: 16px;
  gap: 12px;
}

.dropdown-item {
  padding: 12px 8px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 16px;
  color: var(--gray-800);
  gap: 8px;
}

/* .dropdown-item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;

  margin-right: 8px;
  vertical-align: middle;
  transition: all 0.3s;
}

.dropdown-item.active::before {
  background-color: var(--primary-400);
  border-color: var(--primary-400);
   background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' ... %3E");
  background-repeat: no-repeat;
  background-position: center;
} */

.dropdown-item.active {
  background: none;
  color: var(--gray-900);
}

.dropdown-item:hover {
  background: var(--gray-100);
}

/* .dropdown-item.active:hover {
  background: var(--primary-500);
} */

/* 商品區塊 */
.product-item {
  position: relative;
  transition: transform 0.3s ease;
}

.product-card {
  width: 306px;
  height: 354px;
  border-radius: 40px 40px 0 0;
  /* 使內容不會超出圓角 */
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.product-image {
  width: 306px;
  height: 306px;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  padding-top: 100%;
  border-radius: 40px;
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

/* .product-image:hover img {
  transition: all 300ms ease-out;
  filter: brightness(0.75);
  transition: filter 0.3s ease;
} */

/* TAG 標籤 */
.badge {
  position: absolute;
  top: 0;
  padding: 16px;
  z-index: 1;
  gap: 4px;
}

.badge-pink {
  background-color: var(--highlight-300);
  border-radius: 12px;
  padding: 4px 12px;
}

.badge-blue {
  background-color: var(--primary-400);
  border-radius: 12px;
  padding: 4px 12px;
}
/* 收藏按鈕 */
.favorite-btn {
  /* 預設隱藏按鈕 */
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;

  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  transition: background-color 300ms ease-out;
}

/* 預設：白色線條愛心 */
.favorite-btn svg {
  width: 24px;
  height: 24px;
  stroke: var(--white);
  fill: none;
  stroke-width: 2px;
  transition: all 300ms ease-out;
}
/* 滑過時背景變深 */
.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* 點擊後：紅色填滿＋白色邊框 */
.favorite-btn.active svg {
  fill: var(--highlight-200);
}

.product-card:hover img {
  filter: brightness(0.75);
}

.product-card:hover .favorite-btn {
  /* 當滑鼠懸停在 .image-container 時，顯示按鈕 */
  display: block;
}

product-card:hover .product-info h3 {
  color: var(--primary-400); /* 商品名稱顏色變化 */
}

.product-actions {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 48px;
  display: flex;
  flex: 1;
  background-color: var(--white);
}

.action-btn {
  flex: 1;
  color: var(--gray-700);
  border: none;

  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.3s ease;
  height: 100%;
}

.action-btn:first-child {
  border-right: 1px solid var(--gray-300);
}

.action-btn:hover {
  background-color: var(--primary-50);
  color: var(--primary-300);
}

.action-btn svg {
  width: 20px;
  height: 20px;
}

.product-info h3:hover {
  counter-reset: var(--primary-400);
}
.product-info .shipper {
  color: var(--highlight-500);
}

.product-info .price {
  color: var(--primary-400);
}

/* 最近看過 */
.recent-viewed {
  margin-top: 186px;
  margin-bottom: 160px;
  position: relative;
}

.recent-wrapper {
  list-style: none; /* 確保移除列表的點 */
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 0 48px;
}

.recent-item img {
  width: 306px;
  height: 306px;
  border-radius: 8px;
  object-fit: cover;
}

.recent-viewed .carousel-btn {
  top: 50%;
  transform: translateY(-50%);
}

/* 影音廣告 */
.video-float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 300;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: all 300ms ease-out;
}

.video-float:hover {
  background: rgba(0, 0, 0, 0.7);
}

.video-title {
  color: var(--white);
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 32px 50px 16px 16px;
}

.circle-play {
  display: none;
  width: 36px;
  height: 36px;
  padding: 83px 162px;
  z-index: 500;
}

.video-float:hover .video-title {
  opacity: 1;
}
.video-float:hover .circle-play {
  opacity: 33%;
}

.video-float.sticky {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 300;
}
